
.w3-sidebar a {
  font-family: "Roboto", sans-serif
}

p {
  font-size: 30px;
}

body {
  color: white;
  margin-top: 100px;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(-45deg, #ffe8e0, #f79b7c, #ffede3, #ffe8e0);
	background-size: 400% 600%;
	-webkit-animation: Gradient 8s ease infinite;
	-moz-animation: Gradient 8s ease infinite;
	animation: Gradient 8s ease infinite;
  }


#header{
  background: linear-gradient(-45deg, #ffe8e0, #ffe8e0, #f79b7c, );
  /* outline: 5px solid white; */
	background-size: 400% 600%;
	-webkit-animation: Gradient 8s ease infinite;
	-moz-animation: Gradient 8s ease infinite;
	animation: Gradient 8s ease infinite;
  height: 130px;
  width: 100%;
}
#container{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#availableDates{
  text-align: center;
  font-size: 25px;
}
.demo-list-two {
  width: 300px;
}
#dateList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.changeHolder{
  background-color: white;
  width: 70%;
  border-radius: 20px;
  margin-top: 15px;
  text-align: center;
  float: left;
  color:black;
  font-size: 15px;
}

.mdl-chip__text{
  color: #FEB69E;
  font-size: 15px;
}
.changeText {
  font-size: 20px;
}
.pad{
  margin-bottom: 50px;
}

.changeImage{
  height: 15px;
  width: 15px;
  float:left;
}
.changeAnchor{
  float: right;
  height: 24px;
  width: 24px;
  background: 0 0;
  opacity: .54;
  cursor: pointer;
  padding: 0;
  margin: 0 0 0 4px;
  font-size: 13px;
  text-decoration: none;
  color: rgba(0,0,0,.87);
  border: none;
  outline: none;
}
.changeIcon {
  margin-top: 5px;
  z-index: 3;
  float:right;
}
a{
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color:white;
}


.button {
  color: white;
  background-size: 800% 800%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite; /* Green */
  border: none;
  border: 2.5px solid #FEB69E;
  margin-right: 15px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  /* margin: 4px 2px; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background: #FEB69E;
  color: white;
  border: 3px solid white;
}
.button1 {
  /* background-color: #4CAF50; /* Green */ */
  background: linear-gradient(-45deg, #ffede3, #f79b7c, #ffe8e0, #ffe8e0);
  margin-bottom: 10px;

  height: 5px;
  width: 100px;
  border: 2.5px solid #FEB69E;
  padding: 27px 47px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  /* margin: 1px; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.button1:hover {
  background-color: #FEB69E;
  border: 3px solid white;
  color: white;
}
.button2 {
  color: white;
  height: 5px;
  width: 100px;
  border: 2.5px solid #FEB69E;
  padding: 27px 47px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  /* margin: 1px; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.button2:hover {
  background-color: #FEB69E;
  border: 3px solid white;
  color: white;
}


/* Create three equal columns that floats next to each other */

/* Clear floats after the columns */

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */


@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}


@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
