#container {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: stretch;

}
#leftLogo {
   flex-grow: 1.7;
   border: 1px solid black;
   height: 100vmin;
}
#leftLogo img {
  height: 500px;
  width: 500px
}

#rightLogin{
  border: 1px solid black;
  height: 100vmin;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#login{
  font-size: 60px;
}
#password, #username {
  width: 200px;
  height: 30px;
}

input {
  font-size: 15px;
  color: grey;

}
