#container {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: stretch;

}
#leftLogo {
   flex-grow: 1.7;
   /* border: 1px solid black; */
   height: 100vmin;
   display: flex;
   flex-direction: column;
}
#leftLogo img {
  height: 500px;
  width: 500px
}

#leftLogo #biography {
  width: 500px;
  padding-left: 110px;
}

#rightLogin{
  /* border: 1px solid black; */
  height: 100vmin;
  width: 59%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button {
  /* background-color: #4CAF50; /* Green */ */
  background: linear-gradient(-45deg,#ffede3, #ffe8e0, #ffede3, #f79b7c,  );
  color: black;
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  height: 10px;
  width: 100px;
  border: 2.5px solid #FEB69E;
  padding: 27px 47px;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  /* margin: 1px; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;


}
.button:hover {
  background: linear-gradient(-45deg,#ffede3, #ffe8e0, #ffede3, #f79b7c,  );
  color: white;
}

/* #formContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */
#password, #username {
  width: 20px;
  height: 30px;
}


#submit {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background-color: transparent;
}

input {
  font-size: 15px;
}

body {
    font-family: "Montserrat", sans-serif;
    text-align: inherit;
    width: 100wh;
	height: 90vh;
	color: black;
	background: linear-gradient(-45deg, #ffe8e0, #f79b7c, #ffede3, #ffe8e0);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
  }
  @-webkit-keyframes Gradient {
  	0% {
  		background-position: 0% 50%
  	}
  	50% {
  		background-position: 100% 50%
  	}
  	100% {
  		background-position: 0% 50%
  	}
  }

  @-moz-keyframes Gradient {
  	0% {
  		background-position: 0% 50%
  	}
  	50% {
  		background-position: 100% 50%
  	}
  	100% {
  		background-position: 0% 50%
  	}
  }

  @keyframes Gradient {
  	0% {
  		background-position: 0% 50%
  	}
  	50% {
  		background-position: 100% 50%
  	}
  	100% {
  		background-position: 0% 50%
  	}
  }

/* h3 {
  font-family: "Montserrat", sans-serif;
  color: #FEB69E;
} */
