#container {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: stretch;

}
#leftLogo {
   flex-grow: 1.7;
   /* border: 1px solid black; */
   height: 100vmin;
   display: flex;
   flex-direction: column;
}
#leftLogo img {
  height: 500px;
  width: 500px
}

#leftLogo #biography {
  width: 400px;
  padding-left: 30px;
}

#rightLogin{
  /* border: 1px solid black; */
  /* height: 100vmin;
  width: 29%; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#login{
  font-size: 80px;
  background-color: white;
  color: black;
  border: 2.5px solid #FEB69E;
  /* background-color: #FEB69E; */
  color: white;

}

.button {
  /* background-color: #4CAF50; /* Green */ */
  border: none;
  color: black;
  padding: 28px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  margin: px px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: #FEB69E;
  color: white;
}

#formContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#password, #username {
  width: 200px;
  height: 30px;
}


#submit {
  height: 50px;
  width: 100px;
  border-radius: 30px;
  background-color: transparent;
}

input {
  font-size: 15px;
}

body {
    font-family: "Montserrat", sans-serif;
    text-align: inherit;
  }
