img {
  flex-grow: 1.7;
  height: 10vmin;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(-45deg, #ffe8e0, #f79b7c, #ffede3, #ffe8e0);
	background-size: 1500% 1500%;
	-webkit-animation: Gradient 8s ease infinite;
	-moz-animation: Gradient 8s ease infinite;
	animation: Gradient 8s ease infinite;
  }

  @-webkit-keyframes Gradient {
  	0% {
  		background-position: 0% 50%
  	}
  	50% {
  		background-position: 100% 50%
  	}
  	100% {
  		background-position: 0% 50%
  	}
  }

  @-moz-keyframes Gradient {
  	0% {
  		background-position: 0% 50%
  	}
  	50% {
  		background-position: 100% 50%
  	}
  	100% {
  		background-position: 0% 50%
  	}
  }

  @keyframes Gradient {
  	0% {
  		background-position: 0% 50%
  	}
  	50% {
  		background-position: 100% 50%
  	}
  	100% {
  		background-position: 0% 50%
  	}
  }

.button1 {
  /* background-color: #4CAF50; /* Green */ */
  background: linear-gradient(-45deg, #ffede3, #f79b7c, #ffe8e0, #ffe8e0);
  color: black;
  background-size: 800% 800%;
  -webkit-animation: Gradient 8s ease infinite;
  -moz-animation: Gradient 8s ease infinite;
  animation: Gradient 8s ease infinite;
  height: 35px;
  width: 75px;
  border: 2.5px solid #FEB69E;
  padding: 7px 9px;
  text-align: center;
  text-decoration: none;
  font-size: 12.5px;
  font-family: "Roboto", sans-serif;
  /* margin: 1px; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;


}
.button1:hover {
  background-color: #FEB69E;
  border: 3px solid white;
  color: white;
}

.button2 {
  /* background-color: #4CAF50; /* Green */ */
  /* background: linear-gradient(-45deg, #ffede3, #f79b7c, #ffe8e0, #ffe8e0);
  color: black;
  background-size: 800% 800%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite; */
  height: 30px;
  width: 150px;
  border: 2.5px solid #FEB69E;
  padding: 7px 9px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  /* margin: 1px; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;


}

.removeButton {
  background: linear-gradient(-45deg, #ffede3, #f79b7c, #ffe8e0, #ffe8e0);
  height: 50px;
  width: 170px;
  border: 2.5px solid #FEB69E;
  padding: 13px 40px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  /* margin: 1px; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.removeButton:hover {
  background-color: #FEB69E;
  border: 3px solid white;
  color: white;
}
}

.button {
  margin-top: 50px;
  color: black;
  background-size: 800% 800%;
  -webkit-animation: Gradient 8s ease infinite;
  -moz-animation: Gradient 8s ease infinite;
  animation: Gradient 8s ease infinite; /* Green */
  border: none;
  height: 35px;
  width: 100px;
  border: 2.5px solid #FEB69E;
  padding: 8px 19px;
  text-align: right;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  /* margin: 4px 2px; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background: #FEB69E;
  border: 3px solid white;
  color: white;
}
