body {
  font-size: 100px;
  font-family: "Montserrat", sans-serif;
  /* text-align: inherit; */
  width: 100%;
	height: 100vh;
	color: white;
  font-size: 40px;
  background: linear-gradient(-45deg, #f79b7c, #f79b7c, #ffccba, #ff865c);
	background-size: 800% 800%;
	-webkit-animation: Gradient 7s ease infinite;
	-moz-animation: Gradient 7s ease infinite;
	animation: Gradient 7s ease infinite;
  text-align: center;
  }

#header {
  margin-left: 25px;
}
#container{
  display: flex;
  justify-content: center;
  width: 100%;
}
#profilePicture {
  height: 150px;
  width: 150px;
  margin-bottom: 15px;
}
#displayName {
  font-size: 25px;
  margin-bottom: 15px;
}


.button {
  background-color: Transparent;
  color: white;
  background-size: 800% 800%;
  -webkit-animation: Gradient 8s ease infinite;
  -moz-animation: Gradient 8s ease infinite;
  animation: Gradient 8s ease infinite;
  height: 60px;
  width: 160px;
  border: 2.5px solid #FEB69E;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  /* margin: 4px 2px; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background: #FEB69E;
  color: white;
  border: 3px solid white;
}

.dates {
  margin-top: 15px;
  font-size: 25px;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 130px;
}
  @-moz-keyframes Gradient {
  	0% {
  		background-position: 0% 50%
  	}
  	50% {
  		background-position: 100% 50%
  	}
  	100% {
  		background-position: 0% 50%
  	}
  }

  @keyframes Gradient {
  	0% {
  		background-position: 0% 50%
  	}
  	50% {
  		background-position: 100% 50%
  	}
  	100% {
  		background-position: 0% 50%
  	}
  }


    @-webkit-keyframes Gradient {
    	0% {
    		background-position: 0% 50%
    	}
    	50% {
    		background-position: 100% 50%
    	}
    	100% {
    		background-position: 0% 50%
    	}
    }
