<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="../stylesheets/about.css">
        <link rel = "icon" href="images/linklogo.png" type = "image/x-icon">
  </head>
  <body
  <div id="log">
    <a href="/login" class="button" id='logout' href="{{logout_link}}">Logout</a>
  </div>
        <div id="header">
          <a href="/"><img src="images/linklogo.png" alt="CSGO Howl" style="width:100px;height:100px;float:left";></a>
          <p class="w3-right">
          </div>

    <img src="../images/group.jpg" alt="group_picture">
  </body>
</html>
