<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Link</title>
      <link rel="stylesheet" href="../stylesheets/friends.css">
  </head>
  <body>
    <form  action="/friends" method="POST">
      <input type="text" name="search" placeholder="Search"/>
      {% for user in searched_friends %}
        {{user}}
      {%endfor%}
      {% for user in all_users %}
        {% if user != get_current_user.friends %}
      <input type="checkbox" name={{user.email}}> {{user.email}} </input>
      <br>
        {% endif %}
      {% endfor %}
      <input class="button" type="submit" name="addFriends" Value = "Add Friends">

    </form>

  <!-- <script type="text/javascript" src="../scripts/friends.js"></script> -->
  </body>
</html>
