<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Link</title>
      <link rel="stylesheet" href="../stylesheets/friends.css">
          <link rel = "icon" href="images/linklogo.png" type = "image/x-icon">
  </head>
  <body>
    <header class="w3-container w3-xlarge">
      <a href="/"><img src="images/linklogo.png" alt="CSGO Howl" style="width:100px;height:100px;float:left";></a>
      <p class="w3-right">
        <div align="right">
        <a class="button" href="{{logout_link}}">Logout</a>
        </div>
      </p>
    </header>

    <div class="column">
    <form  action="/friends" method="POST">
      <h1> Add friends here! </h1>
    </div>
    <div class="column">
      <br>
      <p><b>Add by search:</b></p>
      <input class="friends" type="text" name="search" placeholder="Search"/>
      <div id="noResults">
        {%if not searched_friends%}
          There is no user by that name!
        {%endif%}
      </div>
      {%for friend in searched_friends%}
        <br><input type="checkbox" name={{friend.email}}>{{friend.first_name}} {{friend.last_name}}</input>
      {%endfor%}

        <br><input class="button" type="submit" name="addFriends" Value = "Add Friends">
      {% for user in all_users %}
        {% if user not in get_current_user.friends %}
        <br>
      <input type="checkbox" name={{user.email}}> {{user.first_name}} {{user.last_name}} </input>
      <br>
        {% endif %}
      {% endfor %}
      <br>
      <br>


      </div>
    </form>
  <!-- <script type="text/javascript" src="../scripts/friends.js"></script> -->
  </body>
</html>
