<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Link</title>
      <link rel="stylesheet" href="../stylesheets/friends.css">
  </head>
  <body>
    <form  action="/friends" method="POST">
      <p> alsdasld </p>
      {% for user in all_users %}
      <input type="checkbox" name={{user.email}}> {{user.email}} </input>
      <br>
      {% endfor %}
      <input class="button" type="submit" name="addFriends" Value = "Add Friends">

    </form>

  <!-- <script type="text/javascript" src="../scripts/friends.js"></script> -->
  </body>
</html>
