<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../stylesheets/home.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="ima" href="/css/master.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel = "icon" href="images/linklogo.png" type = "image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Link Home Page</title>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  </head>

  <body>
    <!-- Top header -->
    <div id="header">
      <a href="/"><img src="images/linklogo.png" alt="CSGO Howl" style="margin-left:10px;margin-top:10px;width:100px;height:100px;float:left";></a>
      <p class="w3-right">
        <div id="log">
        <a href="/login" id='logout' href="{{logout_link}}">Logout</a>
      </div>
      </p>
    </div>
    <div id="container">
      <div class="column left">
        <div class="pad">
          <h2><b>Hello {{first_name}}!</b></h2>
        </div>
        <div class="button1">
          <a href="/schedule" style="color:white">Link Up</a>

        </div>
        <div>
          <img id="profilePicture" src="../images/{{first_name}}.png"></img>
      </div>
    </div>

      <div class="column middle">
        <div class="pad">
          <h2><b>Your Schedule</b></h2>
        </div>
        <div id="edit">
        <a href="/profile"  class="padSoft button1">Edit Availability</a>
        </div>
        <!-- <div id= "availableDates" style="font-size: 25px;">
            Availabile Dates:
        </div> -->
        <div id="dateContainer">
          <ul id = "dateList">
          </ul>
        </div>
      </div>
    <!-- <div class="row"> -->



  <div class="column right">
    <div class="pad">
      <h2><b>Friends</b></h2>
    </div>
    <div class="pad">
      <a href="/friends" id="friendsAdd" class="bottomSpacing button1">Add Friends</a>
    </div>

    <!-- <div class="pad">
       <p><b>Current Friends:</b></p>
    </div> -->
    <ul class="demo-list-two mdl-list">
      {%for friend in friend_list%}
      <li class="mdl-list__item mdl-list__item--two-line ">
        <span class="mdl-list__item-primary-content friendSize">
          <a href=""/seeFriend?friendprof={{friend.urlsafe()}}""><i><img class="mdl-chip__contact material-icons mdl-list__item-avatar" alt="../images/Alexa.png" src="../images/{{friend.get().first_name}}.png"></img></i></a>
          <span style="color:white"><a style="color:white" href="/seeFriend?friendprof={{friend.urlsafe()}}">{{friend.get().first_name}} {{friend.get().last_name}}</a></span>
          <span style="color:white" class="mdl-list__item-sub-title"><a style="color:white" href="/seeFriend?friendprof={{friend.urlsafe()}}">{{friend.get().friends|length}} Dates Free</a></span>
        </span>
      </li>
      {%endfor%}
    </ul>
    <br>


    <br>
  </div>
  <!-- </div> -->
  <script src="../scripts/home.js" charset="utf-8"></script>
  </body>
</html>
