<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../stylesheets/home.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Link Home Page</title>

  </head>

  <body>
    <!-- Top header -->
    <header class="w3-container w3-xlarge">
      <br>
      <a href=""><img src="images/linklogo.png" alt="CSGO Howl" style="width:100px;height:100px;float:left";></a>
      <p class="w3-right">
        <a class="button" href="{{logout_link}}">Logout</a>
      </p>
    </header>
    <div class="row">
  <div class="column">
     <h2>Hello {{first_name}}</h2>
    <p>You can add your friends here:</p>
    <br>
    <a href="/friends" class="button button2">Add Friends</a>

  </div>

  <div class="column">
    <h2>Your Schedule</h2>Your schedule will be displayed here: </p>
    <br>
    <ul>
      {%for date in user_free_dates%}
      <li>{{date}}</li>
      {%endfor%}
    </ul>
    <a href="/profile" class="button button1">Your availabilities</a>

  </div>

  <div class="column">
    <h2>Friends</h2>
    <p>List of friends wil be displayed here: </p>
    <br>
    <ul>
      {%for friend in friend_list%}
      <li>{{friend.get().first_name}} {{friend.get().last_name}}</li>
      {%endfor%}
    </ul>
    <a href="/schedule" class="button button1">Link Up</a>
  </div>
  </body>
</html>
