<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Link</title>
    <link rel="stylesheet" href="../stylesheets/linkup.css">
  </head>
  <body>
    <div id="container">

      

    </div>
    <h3>Hello this is linkup.</h3>
    Current User email is: {{get_current_user.email}}
    <br>
    date is: {{hangout_date}}
    <br>
    {%if friends_free|length == 0%}
    You have no friends or none of your friends are free.
    {%else %}
    friends who are free are:
    {% for friend in friends_free %}
      {{friend}}
    {% endfor %}
    {%endif%}

  </body>
</html>
