<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Link</title>
    <link rel="stylesheet" href="../stylesheets/linkup.css">
  </head>
  <body>
    <h3>Hello this is linkup.</h3>
    <p>Current User is: {{get_current_user}}</p>
    date is: {{hangout_date}}



    <!-- <ul>
      {% for user in linkup %}
      <li>{{current.user}}</li>
      <ul>
          {% for alexa_key in ashlee.linkup_keys %}
          <li>Friends: {{alexa_key.get().name}}</li>

          {% endfor %}
    </ul>
    {% endfor %}
    </ul> -->

  </body>
</html>
