<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Link</title>
    <link rel="stylesheet" href="../stylesheets/login.css">
  </head>
  <body style="background-color:lightgray;">
    <script src="../scripts/login.js" charset="utf-8"></script>
    <div id="container">
      <div id="leftLogo">
        <img src="images/linklogo.png" alt="Link Logo">
        <div id="biography">
          <br>
          <br>
          <div class="bio">
          <h1>Make planning with your friends easier.</h1>
         </div>
      </div>
    </div>
      <div id="rightLogin">
           <div id="formContainer">
              <a class="button" href="{{login_url}}">Login</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
