<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Link</title>
    <link rel="stylesheet" href="../stylesheets/login.css">
  </head>
  <body>
    <script src="../scripts/login.js" charset="utf-8"></script>
    <div id="container">
      <div id="leftLogo">
        <img src="images/linklogo.png" alt="Link Logo">
        <div id="biography"> <h1>Biography</h1>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
         </div>
      </div>
      <div id="rightLogin">
        <div id="login">
=            <div id="formContainer">
              <a class="button" href="{{login_url}}">Login</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
