<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Link</title>
    <link rel="stylesheet" href="../stylesheets/login.css">
  </head>
  <body>
    <div id="container">
      <div id="leftLogo">
        <img src="images/linklogo.png" alt="CSGO Howl">
      </div>
      <div id="rightLogin">
        <div id="login">
          <h2>Login<h2>
            <form action="/home" method="POST">
              <input type="text" id="username" name="username" value="Username">
              <input type="text" id="password" name="password" value="Password">  
            </form>
        </div>
      </div>
    </div>





  </body>
</html>
