<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Link Home Page</title>
  </head>
  <style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
  <body>
    <!-- Sidebar/menu -->
    <!-- Top header -->
    <header class="w3-container w3-xlarge">
      <img src="linklogo.png" alt="CSGO Howl" style="width:100px;height:100px;float:left";>
      <!-- <p class="w3-left">Insert Logo Here</p> -->
      <p class="w3-right">
        <i <a href="main.html" a class="fa fa-smile-o w3-margin-right"</a></i>
      </p>
    </header>
<!-- Grid -->
<div class="w3-row w3-padding w3-border">

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">
    Hello
  </body>
</html>
