<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Link</title>
  </head>
  <body>
    <label for="date">Add Date you're free!: </label>
    <input type="date" name="date" >
    <!-- <input onclick="freeDate()" type="checkbox" id = "date1" class="button">date 1</input>
    <input onclick="freeDate()" type="checkbox" id="date2" class="button">date 2</input>
    <input onclick="freeDate()" type="checkbox" id="date3" class="button">date 3</input> -->
    <script src="../scripts/profile.js" charset="utf-8"></script>
  </body>
</html>
