<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Link</title>
    <link rel="stylesheet" href="../stylesheets/profile.css">
  </head>
  <body>
    <a href="/"><img src="images/linklogo.png" alt="Link logo"/></a>
    <form  action="/profile" method="POST">
      <input type="date" id="user_free_date" name="user_free_date">
      <input type="button" id="submitDate" name="submitDate" Value="Add Date" />
      <br>
      <!-- {{currentDate}} -->
      <ul id="datesList">
      <!-- {%for date in added_dates%} -->
      <!-- <li>{{date}}<input type="button" name={{date}} value="Remove"/></li> -->
      <!-- {%endfor%} -->
      </ul>
    <!-- <a href="/"><img src="images/linklogo.png" alt="Link logo" "/" style="width:100px;height:100px;float:left";></a>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div align="right">
      <br>
    <a href="/login" class="button" href="{{logout_link}}">Logout</a>
  </div>
    <form  action="/profile" method="POST">
      <input class="button2" type="date" name="user_free_date">
      <input class="button1" type="submit" name="submitDate" value="Add Date">
      <br>
      <br>
      {{currentDate}}
      {%for date in parse_dates%}
      <br>
      <br>
      {{date}}<input class="button1" type="button" name={{date}} value="Remove">
      </input>

      {%endfor%} -->
    </form>
    <script src="../scripts/profile.js" charset="utf-8"></script>
  </body>
</html>
