<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Link</title>
    <link rel="stylesheet" href="../stylesheets/profile.css">
  </head>
  <body>
    <a href="/"><img src="images/linklogo.png" alt="Link logo"/></a>
    <form  action="/profile" method="POST">
      <input type="date" id="user_free_date" name="user_free_date">
      <input type="button" id="submitDate" name="submitDate" Value="Add Date" />
      <br>
      <ul id="datesList">
      </ul>
      </form>
    <script src="../scripts/profile.js" charset="utf-8"></script>
  </body>
</html>
