<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Link</title>
    <link rel="stylesheet" href="../stylesheets/registration.css">
        <link rel = "icon" href="images/linklogo.png" type = "image/x-icon">
  </head>
  <body>
    <div id="container">
      <div id="title"><h1>Thanks For Joining Link!</h1></div>

      <div id="form">
        <form  action="/" method="POST" enctype="multipart/form-data">
          <div id="first"><input class="first1" type="text" name="first_name" placeholder="First Name" /></div>
          <br>
           <div id="last"><input class="last1" type="text" name="last_name" placeholder="Last Name" /></div>
           <!-- <br>
           <label>Avatar:</label>
           <input type="file" name="img"/> -->
           <br>
          <div id="submitButton"> <input class="button" type="submit" id="submit" name="submit" Value = "Submit"></button>
        </form>
      </div>
    </div>



  </body>
</html>
