<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Link</title>
    <link rel="stylesheet" href="../stylesheets/registration.css">
  </head>
  <body>
    <div id="container">
      <div id="title"><h1>Thanks for joining Link!</h1></div>

      <div id="form">
        <form  action="/" method="POST">
          <div id="first"><input type="text" name="first_name" placeholder="First Name" /></div>
           <div id="last"><input type="text" name="last_name" placeholder="Last Name" /></div>
          <div id="submitButton"> <input class="button" type="submit" id="submit" name="submit" Value = "Submit"></button>
        </form>
      </div>
    </div>



  </body>
</html>
