<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Link</title>
    <link rel="stylesheet" href="../stylesheets/schedule.css">
        <link rel = "icon" href="images/linklogo.png" type = "image/x-icon">
  </head>
  <body>
    <header class="w3-container w3-xlarge">
      <a href="/"><img src="images/linklogo.png" alt="CSGO Howl" style="width:100px;height:100px;float:left";></a>
      <p class="w3-right">
        <div align="right">
          <br>
          <br>
        <a href="/login" class="button" href="{{logout_link}}">Logout</a>
      </div>
      </p>
    </header>

    <form method="POST" action="/schedule">
      <br>
      <br>
      <h3>Schedule Your Next Hangout!</h3>
      <br>
      <label for="hangout_date">Which Date Do You Want To Hang Out On? </label>
      <input class="button1" type="date" name="hangout_date"/>
      <br>
      <label for="zipCode">City:</label>
      <input class="button3" type="text" name="zipCode"/>
      <br>
      <input class="button2" type="submit" name="submit" value="Generate A Hangout!"/>
    </form>
  </body>
</html>
