<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Link</title>
    <link rel="stylesheet" href="../stylesheets/schedule.css">
  </head>
  <body>
<img src="images/linklogo.png" alt="Link logo" style="width:100px;height:100px;"/>
    <form method="POST" action="/schedule">
      <h3>Schedule your next hangout!</h3>
      <br>
      <label for="hangout_date">What date do you want to hang out on? </label>
      <input type="date" name="hangout_date"/>
      <br>
      Who do you want to hang out with?
      <!-- TODO: add here the friends you want to hang out with. Or select all friends to start with? -->
      <br>
      <input type="submit" name="submit" value="Generate a hangout!"/>
    </form>
  </body>
</html>
