<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Link</title>
    <link rel="stylesheet" href="../stylesheets/schedule.css">
  </head>
  <body>
<a href="/"><img src="images/linklogo.png" alt="Link logo" style="width:100px;height:100px;"/></a>
<p class="w3-right">
  <i a class="fa fa-smile-o w3-margin-right"</a></i>
</p>
    <form method="POST" action="/schedule">
      <h3>Schedule your next hangout!</h3>
      <br>
      <label for="hangout_date">What date do you want to hang out on? </label>
      <input type="date" name="hangout_date"/>
      <!-- TODO: add here the friends you want to hang out with instead of just selecting all -->
      <br>
      <input type="submit" name="submit" value="Generate a hangout!"/>
    </form>
  </body>
</html>
